
.mensagemTexto{
  background-color: #1989bd;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  position: relative;
  color: white;
  max-width: 200px;

}

.mensagemCliente{
  /* background-color: blue; */
}

.caixaBotoes{
    background-color: #37677e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    gap: 5px;
    max-width: 60%;
    color: white;
    
    /* align-items: flex-start; */
}

.caixaBotoes button{
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    color: #37677e;
    font-weight: bold;
}

.mensagemTexto span{
  /* position: absolute; */
  color: rgb(222, 222, 222);
  font-size: 10px;
  right: 5px;
  bottom: 2px;
}

.boxProdutos{
  background-color: #37677e;
  height: fit-content;
  width: 80%;
  /* height: 60dvh  !important; */
  overflow-x: auto;
  display: flex;
  gap: 4px;
  padding: 10px;
  border-radius: 20px;
  flex-shrink: 0;
}

.produto{
  flex-shrink: 0;
  width: 60dvw;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produto .nome {
  font-weight: bold;
}

.produto img{
  width: 100%;
  border-radius: 10px;
}

.produto p {
  color: white;
}