
.mensagemTexto{
  background-color: #1989bd;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  position: relative;
  color: white;

}

.mensagemCliente{
  /* background-color: blue; */
}

.caixaBotoes{
    background-color: #37677e;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    gap: 5px;
    width: fit-content;
    color: white;
    
    /* align-items: flex-start; */
}

.caixaBotoes button{
    padding: 5px;
    border-radius: 5px;
    border: 0px;
}

.mensagemTexto span{
  /* position: absolute; */
  color: rgb(222, 222, 222);
  font-size: 12px;
  right: 5px;
  bottom: 2px;
}